<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xxx">
  <xacro:property name="description_package" value="xxx_description"/>
  <xacro:property name="description_path" value="$(find ${description_package})/robot"/>
  <xacro:property name="gazebo_package" value="xxx_gazebo"/>
  <xacro:property name="gazebo_path" value="$(find ${gazebo_package})/robot"/>
  

  <!-- Add robot-->
  <xacro:include filename="${description_path}/dynamics/xxx_gazebo.xacro"/>
  <xacro:xxx_gazebo package="${description_package}"/>

  <!-- Add graphics-->
  <xacro:include filename="${gazebo_path}/graphics.gazebo.xacro"/>  
  <xacro:gazebo_graphics/>

  <!-- Add sensor plugins-->
  <xacro:include filename="${gazebo_path}/sensor.gazebo.xacro"/>
  <xacro:sensor_plugins/> 

  <!-- Add controller plugins-->
  <xacro:include filename="${gazebo_path}/ros2_control.gazebo.xacro"/> 
  <xacro:controller_plugins package="${gazebo_package}"/> 
  
   
</robot>
